
/* Semantic utility classes */
.large-content-block {
  @apply bg-base-200 border-primary rounded-box shadow-md p-4
}

.small-content-block {
  @apply bg-base-200 border-primary rounded-box shadow-md p-2
}

.large-modal {
  @apply flexcol bg-base-100 rounded-box p-4
}

.large-line-height {
  height: 2.5rem !important;
}

.faint-hr {
  @apply border-black/40
}

/* A button slightly larger than btn-sm */
.btn-smp {
  @apply btn-sm
}
.btn-smp {
  height: 2.5rem !important;
}

/* Global element styles */
h1 {
  font-size: larger;
  font-weight: 700;
}
h2 {
  font-size: large;
  font-weight: 600;
}
h3 {
  font-weight: 500;
}
h4 {
  font-weight: 400;
}
h5 {
  font-weight: 300;
}
h6 {
  font-weight: 200;
}

/* 
  Nuxt UI & tailwind style changes/workarounds for daisyUI conflicts
*/

div > input[data-nuxtui-input] {
  @apply overflow-hidden
}

/* Set theme background for form elements */
input[data-nuxtui-input], textarea[data-nuxtui-input] {
  @apply bg-base-300
}

/* Add background fade to fullscreen modals */
div[role=dialog] > div > div {
  @apply bg-neutral/50
}

/* Remove white modal background */
div[role=dialog] > div > div > div {
  background-color: transparent !important;
}

/* Override toast/notification BG & font colors */
div[role=status] > div {
  @apply bg-neutral
}
div[role=status] p {
  color: oklch(var(--nc));
}
div[role=status] div {
  color: oklch(var(--nc));
}

/* Apply theming to tooltips and enable multi-line ones */
div[data-popper-placement] > div > div {
  color: oklch(var(--nc));
  height: unset !important;
  @apply bg-neutral
}

div[data-popper-placement] > div > div[role=menu] {
  color: oklch(var(--nc));
  height: unset !important;
  @apply bg-neutral
}

div[data-nuxtui-contextmenu-dropdown] > div:nth-child(2) {
  transform: unset !important;
}

/* Apply theming to UDropdown elements */
div[aria-haspopup=menu] > button > span {
  color: oklch(var(--pc));
}
div[aria-haspopup=menu] > button {
  box-shadow: none !important;
}

/* Apply theming to USelectMenu elements and combobox children */
div[data-nuxtui-selectmenu] > div > div > div > button {
  color: oklch(var(--pc));
  @apply bg-base-300 hover:bg-base-200 cursor-pointer
}
ul[role=listbox] {
  color: oklch(var(--pc));
  @apply bg-base-300
}
ul[role=listbox] > li {
  @apply hover:bg-base-200 cursor-pointer
}

/* Place floating menus and tooltips in front of all other elements */
div[data-popper-placement] {
  z-index: 999;
}

/* Apply theming to menu elements */
button[role=menuitem] {
  @apply bg-neutral
}
button[role=menuitem]:hover {
  @apply bg-base-100/25
}
button[role=menuitem] > span {
  color: oklch(var(--nc));
}

/* Apply theming to vue-multiselect component */
div[class=multiselect__tags] {
  @apply bg-base-300
}
div[class=multiselect__select]::before {
  color: black;
  border-top-color: black;
}
ul[class=multiselect__content] {
  @apply bg-base-100
}
input[class=multiselect__input] {
  @apply bg-base-200
}
span[class=multiselect__tag] {
  @apply bg-accent
}
span[class=multiselect__tag] > span {
  @apply text-accent-content
}

/* Readd selection color */
::selection {
  @apply bg-accent !important
}

/*
  Macros
*/
.flexcol {
  @apply flex flex-col
}
